*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background-color: #f4f4f4;
  height: 100vh;
}
.currency{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.container select{
  padding: 10px;
  border: none;
  appearance: none;
  border-radius: 10px;
}
.container input{
  border: 0;
  /* background: transparent; */
  text-align: right;
  padding: 10px;
}
.container input:focus,.container select:focus{
  outline: none;
}